body {
    height: 100vh;
    background-color: #0D192C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    width: 350px;
    background-color: #15263f;
    border-radius: 10px;
    height: 596px;
}
 
.container{
    width: 90%;
} 

.card-img{
    position: relative;
    margin-top: 17.5px;
    border-radius: 10px;
}

.card-img .nft{
    border-radius: 10px;
    width: 100%;
    display: block;
}

.card-img .view {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

.card-title{
    color: white;
}

.card-details{
    color: #8bacd9; 
}

.card-info{
    display: flex;
    justify-content: space-between;
}

.info{
    display: flex;
    align-items: center;
}

.info p{
    margin-left: 5px;
}

.worth p{
    color: #00fff8;

}

.time p{
    color:#8bacd9
}

hr {
    height: 2px;
    background-color: #2e405a;
    border: none;
}

.creator{
    display: flex;
    align-items: center;
}

.creator img {
    width: 33px;
    border: 1px solid white;
    border-radius: 45px;
}

.creator p {
    color: #8bacd9;
    margin-left: 10px;
}

.creator span{
    color: white;
}

.card-img:hover{
    background-color: #00fff8;
    position: relative;
}

.card-img:hover .view{
    display: block;
    position: absolute;
    top: 38%;
    right: 50%;
}

.card-title:hover{
    color: #00fff8;
}

.card-img:hover .nft{
    opacity: 40%;
}

span:hover{
    color: #00fff8  ;
}